
$Red-Hat-Text: "Red Hat Text", sans-serif;
$Red: #c73a0f;
$Red-opacity: #e67e5e;
$Green: hsl(159, 69%, 38%);
$Rose-50: hsl(20, 50%, 98%);
$Rose-100: hsl(13, 31%, 94%);
$Rose-300: hsl(14, 25%, 72%);
$Rose-400: hsl(7, 20%, 60%);
$Rose-500: hsl(12, 20%, 44%);
$Rose-700: hsl(12, 20%, 44%);
$Rose-900: hsl(14, 65%, 9%);